include ./layout/style.pug
include ./layout/style.pug
section.gradient-custom.pt-5.pb-5
    div.container.py-5.h-100
        div.row.d-flex.justify-content-center.align-items-center.h-100.w-100
            div.col-12.col-md-8.col-lg-6.col-xl-5
                div.card.bg-dark.text-white(style="border-radius: 1rem;")
                    div.card-body.p-4.text-center
                        div.mb-md-5.mt-md-4
                            h2.fw-bold.mb-2.text-uppercase Login
                            p.text-white-50.mb-5 
                            
                            if(erroLogin==="senha")
                                .alert.alert-danger.p-0.mb-1
                                    p Senha não corresponde 

                            if(erroLogin==="email")
                                .alert.alert-danger.p-0.mb-1
                                    p Email não cadastrado 


                            form(action="/logar", method="post") 
                                div.form-floating.mt-5.mb-3
                                    input.form-control(type="email", name="email", placeholder="Email",required) 
                                    label.form-label(for="email" style="color: black;") Email
                                     
                                div.form-floating.mt-5.mb-3
                                    input.form-control(type="password", name="senha", placeholder="Senha", required)
                                    label.form-label(for="senha" style="color: black;") Senha


                                p.mb-0 Não possui uma conta ainda? Registre-se   
                                    a.text-white-50.fw-bold(href="registro") aqui

                                a(href="/")
                                    div.btn.btn-outline-danger.btn-lg.px-5.mt-5.m-3 Ínicio
                                
                                button.btn.btn-outline-success.btn-lg.px-5.mt-5.m-3(type="submit") Login